@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1e1e1e;
    color: #f1f1f1;
    padding: 3em;
    user-select: none;
}

.month-wrap {
    width: 100%;

    div {
        display: flex;

        > div {
            border: 1px solid white;
            height: 100px;
            flex: 1;
            padding: 16px;
            
            &.previous-month-day,
            &.next-month-day {
                opacity: .3;
            }
        }
    }
}