@import "./_variables.scss";

.calendar-wrap {
    min-width: 600px;
    padding: 16px 0;

    &.select {
        .calendar {
            cursor: cell;
        }
    }

    &.draw {
        .calendar {
            cursor: default;

            .day {
                .events {
                    .event {
                        .anchor {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &.comment {
        .calendar {
            cursor: copy;

            // .day {
            //     transition: background-color .1s ease;

            //     &:hover {
            //         background-color: hsla(40, 100%, 70%, 0.05);
            //     }
            // }
        }
    }

    > .title {
        &::selection {
            background-color: #333;
        }

        h2 {
            display: inline-block;
            margin-top: -4px;
            margin-left: -8px;
            padding: 4px 8px;
            border-radius: 4px;
    
            &:focus {
                outline: none;
                background-color: #111;
            }
        }

        span {
            display: inline-block;
            font-size: .75rem;
            color: #888;
            margin-left: -6px;
            margin-top: -4px;
            padding: 4px 6px;
            border-radius: 4px;
            line-height: .75rem;
    
            &:focus {
                outline: none;
                background-color: #111;
                color: #cccccc;
            }
        }
    }

    .head {
        position: relative;
        z-index: 30;

        > div {
            width: 100%;
            display: flex;

            > div {
                position: relative;
                padding: 16px 0;
                text-align: center;
                font-size: .8em;
                opacity: .3;
    
                i {
                    width: 12px;
                    font-size: .625rem;
                    margin-left: 4px;
                    opacity: 0;
                    transition: opacity .2s ease;
                }
            }
        }

        &.linear {
            width: max-content;
            height: 64px;
            background-color: #1e1e1e;
            margin-top: -16px;
            // padding-top: 16px;
            display: none;
    
            > div {
                &.months {
                    height: 38px;
                    padding: 12px 0 8px 0;
                    
                    > div {
                        text-align: left;
                        opacity: 1;

                        span {
                            font-size: 1rem;
                            font-weight: bold;

                            &.year {
                                opacity: .3;
                                font-weight: normal;
                                margin-left: 6px;
                            }
                        }
                    }
                }

                > div {
                    display: inline-block;
                    width: 139px;
                    padding: 0;
                }
            }
        }

        &.full {
            display: flex;

            > div {

                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    padding-left: 12px;
                    cursor: pointer;
                    transition: opacity .2s ease;
    
                    &.open,
                    &:hover {
                        opacity: 1;
    
                        i {
                            opacity: 1;
                        }
                    }
    
                    .dropdown {
                        top: 40px;
                        text-align: initial;
    
                        i {
                            font-size: .875rem;
                            width: 18px;
                            text-align: center;
                        }
                    }
                }
            }

            &.alt {
                > div {
                    > i {
                        &::before {
                            content: "\f067";
                        }
                    }
                }
            }
        }
    }

    .calendars {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 74px);
        margin-top: -1px;
    }

    .calendar {
        max-height: calc(100% - 64px);
        padding-bottom: 16px;
        overflow-y: auto;
        padding-left: 1px;
        padding-top: 1px;

        &::-webkit-scrollbar {
            width: 0;
        }

        > div {
            display: flex;
        }
        
        .day {
            position: relative;
            // width: calc(100% / 7 + 1px);
            flex: 1;
            border: 1px solid #444;
            height: 72px;
            max-height: 240px;
            padding: 8px;
            margin-left: -1px;
            margin-top: -1px;
            transition: height .5s ease;

            &.off {
                background-color: rgba(255,255,255,.025);
            }

            &.out {
                border-color: #44444450;

                &.off:not(.selected) {
                    background-color: rgba(255,255,255,.0125);
                }
                
                span {
                    color: #66666650;
                }
            }

            &.selected {
                background-color: #61a0ff20;

                &:not(.out) > span {
                    color: #888;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    z-index: 20;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #61a0ff;
                    border-radius: 1px;
                    pointer-events: none;
                }

                &.no-top {
                    &::after {
                        border-top-color: transparent;
                    }
                }

                &.no-right {
                    &::after {
                        border-right-color: transparent;
                    }
                }

                &.no-bottom {
                    &::after {
                        border-bottom-color: transparent;
                    }
                }

                &.no-left {
                    &::after {
                        border-left-color: transparent;
                    }
                }
            }

            > span {
                width: 100%;
                color: #666;
                text-transform: uppercase;
                font-size: .8em;
            }

            .events {
                position: relative;
                overflow-x: hidden;
                overflow-y: auto;
                height: calc(100% - 18px);
                margin: 8px -8px 0 -8px;
                padding: 0 8px 8px 8px;

                &::-webkit-scrollbar {
                    width: 0;
                }

                .event {
                    position: absolute;
                    height: 24px;
                    // background-color: grey;
                    margin-right: -8px;
                    margin-left: -8px;
                    padding: 2px 6px;
                    white-space: nowrap;
                    transition: opacity .1s ease, background-color .1s ease, top .2s ease;
                    width: 100%;
                    margin-bottom: 8px;

                    @for $i from 0 through 19 {
                        &[data-color="#{$i}"] {
                            color: var(--color-event-text-#{$i});
                            background-color: var(--color-event-bg-#{$i});

                            &.selected {
                                background-color: var(--color-event-#{$i});
                            }
                        }
                    }

                    .title {
                        position: absolute;
                        font-weight: 500;
                        z-index: 1;
                    }

                    &.start,
                    &.end {
                        width: calc(100% - 8px);
                    }

                    &.start.end {
                        width: calc(100% - 16px);
                    }
    
                    &.start {
                        margin-left: 0;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
    
                    &.end {
                        margin-right: 0;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                    &.new {
                        .title {
                            display: inline-block;
                            width: 2px;

                            &:empty {
                                &::before {
                                    content: "New event";
                                    opacity: .5;
                                }
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    &.selected {
                        transition: none;

                        .title {
                            color: white !important;
                        }

                        // box-shadow: 0px 2px white inset,
                        //             0px -2px white inset;

                        // &.start {
                        //     box-shadow: 2px 0px white inset,
                        //                 0px 2px white inset,
                        //                 0px -2px white inset;
                        // }

                        // &.end {
                        //     box-shadow: 0px 2px white inset,
                        //                 0px -2px white inset,
                        //                 -2px 0px white inset;
                        // }

                        // &.start.end {
                        //     box-shadow: 2px 0px white inset,
                        //                 0px 2px white inset,
                        //                 0px -2px white inset,
                        //                 -2px 0px white inset;
                        // }
                    }

                    .anchor {
                        position: absolute;
                        top: 0;
                        width: 12px;
                        height: 100%;
                        cursor: col-resize;
                        display: none;

                        &.anchor-start {
                            left: -6px;
                        }

                        &.anchor-end {
                            right: -6px;
                        }
                    }
                }
            }
        }

        &.resizing {
            cursor: col-resize;
        }
    }
}

.new-event {
    position: absolute;
    width: 160px;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 4px 0;
    background-color: #222222;
    border: 1px solid #333333;
    border-radius: 4px;
    box-shadow: 0 16px 16px #00000020;
    opacity: 0;
    pointer-events: none;
    transform: translateY(8px);
    transition: transform .3s ease, opacity .3s ease;

    &.visible {
        display: block;
        opacity: 1;
        pointer-events: all;
        transform: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: -6px;
        left: 12px;
        width: 10px;
        height: 10px;
        background: linear-gradient(135deg, #222222 50%, transparent 50%);
        border-top: 1px solid #333333;
        border-left: 1px solid #333333;
        border-top-left-radius: 1px;
        transform: rotate(45deg);
    }

    ul {
        list-style: none;

        li {
            padding: 8px 10px;
            color: #666666;
            cursor: pointer;

            .event-icon {
                display: inline-block;
                width: 4px;
                height: 24px;
                border-radius: 2px;
                margin-right: 12px;
                vertical-align: -6px;

                @for $i from 0 through 19 {
                    &[data-color="#{$i}"] {
                        background-color: var(--color-event-#{$i});
                    }
                }
            }

            &.selected {
                color: white;
                background-color: #333333;
            }
        }
    }
}

main.linear {
    .calendar-wrap {
        overflow-x: auto;
        overflow-y: hidden;
        overscroll-behavior-x: none;
        margin-right: 0;
        padding-left: 16px;

        .calendars {
            width: max-content;
            height: calc(100vh - 112px);
            padding-bottom: 82px;
            margin-left: -1px;
        }
    
        > .title {
            display: none;
        }

        .head {
            &.full {
                display: none;
            }

            &.linear {
                display: block;
                border-bottom: 1px solid #444444;
                z-index: 20;
            }
        }
    
        .calendar {
            display: flex;
            width: fit-content;
            margin-top: -1px;
            padding: 0 16px 0 1px;

            &:nth-child(2) {
                padding-top: 1px;
            }
    
            .day {
                width: 140px;
                margin-top: 0;
    
                &.out {
                    display: none;
                }
    
                > span {
                    display: none;
                }
    
                .events {
                    margin-top: 0;
                    height: calc(100% + 8px);
                }
            }

            &.hidden {
                .day {
                    height: 40px !important;
                    overflow: hidden;
                }

                .events {
                    display: none;
                }
            }
        }
    }
}

main:not(.linear) {
    .calendar-wrap {
        .calendars {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #444444;
                z-index: 1;
            }
        }
    }
}