.calendar-wrap {
    min-width: 600px;
    padding: 16px 0;

    h2 {
        display: inline-block;
        margin-top: -4px;
        margin-left: -8px;
        padding: 4px 8px;
        border-radius: 4px;

        &:focus {
            outline: none;
            background-color: #111;
        }

        &::selection {
            background-color: #333;
        }
    }

    .head {
        display: flex;
        padding: 16px 0;
        border-bottom: 1px solid rgba(255,255,255,.1);
        margin-bottom: -1px;

        > div {
            flex: 1;
            text-align: center;
            font-size: .8em;
            opacity: .3;
        }
    }

    .content {
        max-height: calc(100% - 64px);
        padding-bottom: 16px;
        overflow-y: auto;
        padding-left: 1px;
        padding-top: 1px;

        &::-webkit-scrollbar {
            width: 0;
        }

        > div {
            display: flex;
        }
        
        .day {
            position: relative;
            width: calc(100% / 7 + 1px);
            border: 1px solid #444;
            height: 72px;
            max-height: 240px;
            padding: 8px;
            margin-left: -1px;
            margin-top: -1px;
            transition: height .5s ease;

            &.selected {
                background-color: #61a0ff20;

                > span {
                    color: #888;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #61a0ff;
                    border-radius: 1px;
                    pointer-events: none;
                }

                &.no-top {
                    &::after {
                        border-top-color: transparent;
                    }
                }

                &.no-right {
                    &::after {
                        border-right-color: transparent;
                    }
                }

                &.no-bottom {
                    &::after {
                        border-bottom-color: transparent;
                    }
                }

                &.no-left {
                    &::after {
                        border-left-color: transparent;
                    }
                }
            }
            
            &.out {
                border-color: #44444450;
                
                span {
                    color: #66666650;
                }
            }

            > span {
                width: 100%;
                color: #666;
                text-transform: uppercase;
                font-size: .8em;
            }

            .events {
                position: relative;
                overflow-x: hidden;
                overflow-y: auto;
                height: calc(100% - 18px);
                margin: 8px -8px 0 -8px;
                padding: 0 8px 8px 8px;

                &::-webkit-scrollbar {
                    width: 0;
                }

                .event {
                    position: absolute;
                    height: 24px;
                    background-color: grey;
                    margin-right: -8px;
                    margin-left: -8px;
                    padding: 2px 6px;
                    white-space: nowrap;
                    transition: opacity .1s ease, background-color .1s ease;
                    width: 100%;
                    margin-bottom: 8px;

                    &.start,
                    &.end {
                        width: calc(100% - 8px);
                    }

                    &.start.end {
                        width: calc(100% - 16px);
                    }
    
                    &.start {
                        margin-left: 0;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
    
                    &.end {
                        margin-right: 0;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
            }

        }
    }
}

main.linear {
    .calendar-wrap {
        margin-right: 0;
        padding-left: 16px;
        overflow: auto;
    
        > h2 {
            display: none;
        }
    
        .head {
            div {
                flex: 0 0 139px;
            }
        }
    
        .calendar {
            display: flex;
            width: fit-content;
            padding-right: 16px;
            padding-bottom: 0;
            margin-top: -1px;
    
            .day {
                width: 140px;
    
                &.out {
                    display: none;
                }
    
                > span {
                    display: none;
                }
    
                > .events {
                    margin-top: 0;
                    max-height: none;
                }
            }
        }
    }
}