.events-wrap {
    ul {
        list-style: none;
        margin-top: 16px;
        margin-right: 32px;

        li {
            position: relative;
            height: 50px;
            border-radius: 4px;
            padding: 12px 6px;
            cursor: pointer;
            background-color: grey;
            transition: backgroun-color .1s ease;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            > span {
                display: inline-block;
                padding: 4px 8px;
                border-radius: 4px;

                &:focus {
                    outline: none;
                    background-color: rgba(0,0,0,.2);
                }
                
                &::selection {
                    background-color: #333;
                }
            }

            .tools {
                position: absolute;
                top: 0;
                right: -36px;
                padding: 0;
                
                > i {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: opacity .1s ease;

                    &:not(.far) {
                        font-style: normal;
                        font-weight: bold;
                    }

                    &[data-tool="sort"] {
                        cursor: grab;
                    }
                }

                .dropdown {
                    position: absolute;
                    right: 0;
                    top: 24px;
                    z-index: 1;
                    background-color: #1e1e1e;
                    border: 1px solid #333;
                    padding: 12px;
                    border-radius: 4px;
                    box-shadow: 0 16px 16px #00000050;
                    pointer-events: none;
                    opacity: 0;
                    transform: translateY(-4px);
                    transition: all .2s ease;

                    &.visible {
                        pointer-events: all;
                        opacity: 1;
                        transform: none;
                    }

                    > span {
                        display: inline-block;
                        padding: 4px;
                        color: #888;
                        white-space: nowrap;
                        font-size: .875rem;

                        &:not(:last-child) {
                            margin-bottom: 8px;
                        }

                        i {
                            width: 20px;
                            text-align: center;
                            margin-right: 6px;
                            opacity: 1;
                        }

                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }

                        &:hover {
                            color: white;
                        }
                    }
                }
            }

            &:hover {
                .tools {
                    i {
                        opacity: .5;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .add {
        cursor: pointer;
        opacity: .3;
        margin-top: 16px;

        &:hover {
            opacity: .7;
        }
    }
}

#color-swatch {
    position: absolute;
    top: 0;
    right: 0;
    width: 176px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    box-shadow: 0 16px 16px #00000050;
    border-radius: 4px;
    padding: 10px;
    margin-top: 8px;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-4px);
    transition: opacity .2s ease, transform .2s ease;

    &.visible {
        pointer-events: all;
        opacity: 1;
        transform: none;
    }

    .color {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;

        &:not(:nth-child(5n)) {
            margin-right: 8px;
        }

        &:not(:nth-last-child(-n+6)) {
            margin-bottom: 8px;
        }

        &.selected {
            border-color: white;
        }
    }
}