main.full {
    .calendar-wrap {
        .head.linear {
            display: none;
        }
        
        .calendars {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #444444;
                z-index: 1;
            }
        }

        .hours-track,
        .hours {
            display: none;
        }
    }
}