main.linear {
    .calendar-wrap {
        overflow-x: auto;
        overflow-y: hidden;
        overscroll-behavior-x: none;
        margin-right: 0;
        padding-left: 16px;

        .head.full {
            display: none;
        }

        .calendars {
            width: max-content;
            height: calc(100vh - 112px);
            padding-bottom: 82px;
            margin-left: -1px;
        }
        
        .hours-track,
        .hours {
            display: none;
        }
    
        > .title {
            display: none;
        }

        .head {
            &.full {
                display: none;
            }

            &.linear {
                display: block;
                border-bottom: 1px solid #444444;
                z-index: 20;
            }
        }
    
        .calendar {
            display: flex;
            width: fit-content;
            margin-top: -1px;
            padding: 0 16px 0 1px;

            &:nth-child(2) {
                padding-top: 1px;
            }
    
            .day {
                width: 140px;
                margin-top: 0;
    
                &.out {
                    display: none;
                }
    
                > span {
                    display: none;
                }
    
                .events {
                    margin-top: 0;
                    height: calc(100% + 8px);
                }
            }

            &.hidden {
                .day {
                    height: 40px !important;
                    overflow: hidden;
                }

                .events {
                    display: none;
                }
            }
        }
    }
}