* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #1e1e1e;
    color: #f1f1f1;
    user-select: none;
}

.row {
    display: flex;

    > * {
        flex: 1;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

header {
    height: 64px;
    border-bottom: 1px solid #333;
    padding: 16px;

    div:nth-child(2) {
        text-align: right;
        padding-top: 4px;
    }
}

main {
    height: calc(100vh - 64px);

    .calendars-wrap,
    .events-wrap {
        position: relative;
        flex: 0 0 240px;
        padding: 16px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .calendars-wrap {
        border-right: 1px solid #333;
    }

    .events-wrap {
        border-left: 1px solid #333;
    }
}

@media screen and (max-width: 1120px) {
    main {
        .calendars-wrap,
        .events-wrap {
            position: absolute;
            height: 100%;
            background-color: #1f1f1f;
            z-index: 10;
            width: 240px;
            transition: transform .2s ease, padding .2s ease;

            &:hover {
                transform: none;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        .calendars-wrap {
            transform: translateX(-216px);
            padding-right: 32px;
        }

        .events-wrap {
            right: 0;
            transform: translateX(216px);
            padding-left: 32px;
        }

        .calendar-wrap {
            position: absolute;
            left: 40px;
            width: calc(100% - 80px);
            height: inherit;
        }
    }
}