* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #1e1e1e;
    color: #f1f1f1;
    user-select: none;
}

h2 {
    font-size: 1.25rem;
}

.row {
    display: flex;
    position: relative;

    > * {
        flex: 1;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

header {
    height: 48px;
    border-bottom: 1px solid #333;
    z-index: 100;
    background-color: #1e1e1e;
    // padding: 16px;

    > div:nth-child(2) {
        flex: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .tool {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 56px;
            color: #666666;
            cursor: pointer;
            
            &:hover {
                color: #999999;
            }

            &.selected {
                background-color: #292929;
                color: white;
            }
        }
    }

    > div:nth-child(3) {
        text-align: right;
        padding-top: 12px;
        padding-right: 12px;

        i {
            font-size: .75rem;
            color: #666666;
            margin: 0 4px;
        }
    }

    nav {
        height: 100%;
    }

    ul {
        list-style: none;
        display: flex;
        height: 100%;

        li {
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: #1e1e1e;
            padding: 0 16px;
            cursor: pointer;

            &.sub {
                &::after {
                    content: "\f054";
                    font-family: "Font Awesome 5 Free";
                    font-weight: bold;
                    position: absolute;
                    right: 10px;
                    top: 12px;
                    font-size: .75rem;
                }
            }

            &.checked {
                &::before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    font-weight: bold;
                    position: absolute;
                    left: 11px;
                    top: 11px;
                    font-size: .75rem;
                }
            }

            &[data-shortcut] {
                &::after {
                    content: attr(data-shortcut);
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: .75rem;
                    color: #666666;
                }
            }

            &.open,
            &:hover {
                &:not(.disabled) {
                    background-color: #292929;
                }
            }
            
            &.disabled {
                color: #666666;
                cursor: default;
            }
            
            &.border-top {
                border-top: 1px solid #333333;
            }

            > ul {
                position: absolute;
                height: fit-content;
                top: 100%;
                left: 0px;
                display: none;
                z-index: 1000;
                border-radius: 0 0 4px 4px;
                border: 1px solid #333;
                box-shadow: 0 16px 16px #00000050;

                > li {
                    display: inline-block;
                    background-color: #232323;

                    &:not(.disabled) {
                        &:hover {
                            background-color: #333333;

                            ul {
                                display: flex;
                                flex-flow: column;
                                left: 100%;
                                top: 0;
                                border-radius: 0 4px 4px 4px;

                                li {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }

            &.open {
                > ul {
                    display: flex;
                    flex-flow: column;
                    
                    li {
                        align-items: flex-start;
                        padding: 8px 64px 8px 32px;
                        width: auto;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

main {
    height: calc(100vh - 48px);

    .col-left,
    .col-right {
        position: relative;
        flex: 0 0 240px;
        overflow-y: auto;
        z-index: 100;
        
        > * {
            padding: 16px;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .col-left {
        border-right: 1px solid #333;
    }

    .col-right {
        border-left: 1px solid #333;
    }
}

main.linear {
    .col-left {
        margin-right: 0;
    }

    .not-linear {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    main {
        .col-left,
        .col-right {
            position: absolute;
            height: 100%;
            background-color: #1f1f1f;
            width: 240px;
            transition: transform .2s ease, padding .2s ease;

            &:hover {
                transform: none;

                > * {
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }

        .col-left {
            transform: translateX(-216px);

            > * {
                padding-right: 32px;
            }
        }

        .col-right {
            right: 0;
            transform: translateX(216px);
            
            > * {
                padding-left: 32px;
            }
        }

        .calendar-wrap {
            position: absolute;
            left: 40px;
            width: calc(100% - 80px);
            height: inherit;
        }
    }

    main.linear {
        .calendar-wrap {
            left: 24px;
            width: calc(100% - 48px);
        }

        .col-left {
            > * {
                padding-right: 0;
            }
        }
    }
}