.dropdown {
    position: absolute;
    z-index: 10;
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 6px 0;
    border-radius: 4px;
    box-shadow: 0 16px 16px #00000050;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-4px);
    transition: all .2s ease;

    &.visible {
        pointer-events: all;
        opacity: 1;
        transform: none;
    }

    > span {
        display: inline-block;
        width: 100%;
        padding: 8px 16px;
        color: #888;
        white-space: nowrap;
        font-size: .875rem;

        &:hover {
            color: white;
        }

        i {
            width: 20px;
            text-align: center;
            margin-right: 12px;
        }


        &.border-top {
            border-top: 1px solid #333333;
            margin-top: 6px;
            padding-top: 12px;
        }
    }
}

.tooltip {
    position: relative;
    background-color: #111111;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 8px;
    font-size: .875rem;
    border-radius: 4px;
    z-index: 10;
    display: none;

    .tooltip-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        background: linear-gradient(135deg, #111111 50%, transparent 50%);
        border-top-left-radius: 1px;
        transform: rotate(45deg);
    }

    &.top {
        .tooltip-arrow {
            bottom: -5px;
            left: calc(50% - 5px);
            transform: rotate(-135deg);
        }
    }

    &.right {
        .tooltip-arrow {
            top: calc(50% - 5px);
            left: -5px;
            transform: rotate(-45deg);
        }
    }

    &.bottom {
        .tooltip-arrow {
            top: -5px;
            left: calc(50% - 5px);
            transform: rotate(45deg);
        }
    }

    &.left {
        .tooltip-arrow {
            top: calc(50% - 5px);
            right: -5px;
            transform: rotate(135deg);
        }
    }

    &.visible {
        display: block;
    }

    .shortcut {
        display: inline-block;
        margin-left: 12px;
        color: #666666;
    }
}