:root {
        --color-event-0: hsl(0, 55%, 45%);
    --color-event-1: hsl(334, 60%, 38%);
    --color-event-2: hsl(277, 60%, 35%);
    --color-event-3: hsl(255, 61%, 39%);
    --color-event-4: hsl(233, 57%, 37%);
    --color-event-5: hsl(210, 65%, 40%);
    --color-event-6: hsl(202, 98%, 47%);
    --color-event-7: hsl(185, 100%, 28%);
    --color-event-8: hsl(173, 100%, 21%);
    --color-event-9: hsl(123, 56%, 35%);
    --color-event-10: hsl(95, 69%, 23%);
    --color-event-11: hsl(60, 83%, 28%);
    --color-event-12: hsl(43, 90%, 46%);
    --color-event-13: hsl(34, 80%, 40%);
    --color-event-14: hsl(14, 70%, 40%);
    --color-event-15: hsl(27, 80%, 27%);
    --color-event-16: hsl(11, 36%, 24%);
    --color-event-17: hsl(0, 0%, 52%);
    --color-event-18: hsl(0, 0%, 38%);
    --color-event-19: hsl(0, 0%, 23%);

    --color-event-text-0: hsl(0, 100%, 85%);
    --color-event-text-1: hsl(334, 100%, 85%);
    --color-event-text-2: hsl(277, 100%, 85%);
    --color-event-text-3: hsl(255, 100%, 85%);
    --color-event-text-4: hsl(233, 100%, 85%);
    --color-event-text-5: hsl(210, 100%, 85%);
    --color-event-text-6: hsl(202, 100%, 85%);
    --color-event-text-7: hsl(185, 100%, 85%);
    --color-event-text-8: hsl(173, 100%, 85%);
    --color-event-text-9: hsl(123, 100%, 85%);
    --color-event-text-10: hsl(95, 100%, 85%);
    --color-event-text-11: hsl(60, 100%, 85%);
    --color-event-text-12: hsl(43, 100%, 85%);
    --color-event-text-13: hsl(34, 100%, 85%);
    --color-event-text-14: hsl(14, 100%, 85%);
    --color-event-text-15: hsl(27, 100%, 85%);
    --color-event-text-16: hsl(11, 100%, 85%);
    --color-event-text-17: hsl(0, 0%, 85%);
    --color-event-text-18: hsl(0, 0%, 85%);
    --color-event-text-19: hsl(0, 0%, 85%);

    --color-event-bg-0: hsla(0, 55%, 45%, 30%);
    --color-event-bg-1: hsla(334, 60%, 38%, 30%);
    --color-event-bg-2: hsla(277, 60%, 35%, 30%);
    --color-event-bg-3: hsla(255, 61%, 39%, 30%);
    --color-event-bg-4: hsla(233, 57%, 37%, 30%);
    --color-event-bg-5: hsla(210, 65%, 40%, 30%);
    --color-event-bg-6: hsla(202, 98%, 47%, 30%);
    --color-event-bg-7: hsla(185, 100%, 28%, 30%);
    --color-event-bg-8: hsla(173, 100%, 21%, 30%);
    --color-event-bg-9: hsla(123, 56%, 35%, 30%);
    --color-event-bg-10: hsla(95, 69%, 23%, 30%);
    --color-event-bg-11: hsla(60, 83%, 28%, 30%);
    --color-event-bg-12: hsla(43, 90%, 46%, 30%);
    --color-event-bg-13: hsla(34, 80%, 40%, 30%);
    --color-event-bg-14: hsla(14, 70%, 40%, 30%);
    --color-event-bg-15: hsla(27, 80%, 27%, 30%);
    --color-event-bg-16: hsla(11, 36%, 24%, 30%);
    --color-event-bg-17: hsla(0, 0%, 52%, 30%);
    --color-event-bg-18: hsla(0, 0%, 38%, 30%);
    --color-event-bg-19: hsla(0, 0%, 23%, 30%);
}